



/* .App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
filter: grayscale(50%);
}



.carosel-con{
height: 100vh !important;
background-color: #eee;
/* border: 4px solid red */


}

.carousel-item{
height: 100vh !important;
overflow: hidden !important;
}

.carousel-item .img{
vertical-align: middle;
border-style: none;
o-object-fit: cover;
object-fit: cover;
width: 100%;
height: 100%;

}

.welcome .h1{
  font-weight: 800;
  padding: 60px;
  font-size: 70px;
}

.welcome .h1 span{
  text-decoration: underline;
  
}

.text-info-light{
  color: #61dafb;
}
/* 
.card{
  border-radius: 15px !important;
} */



/* Post */
.posts{
  min-height: 300px;
}

.footer-menu{
  /* position: fixed !important; */
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}

